html, body {
  background-color: #fefefe;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Museo-Sans-Rounded', sans-serif;
  color: #011e30;
  margin-top: 0;
}

h1 {
  font-size: 2.5em;
  line-height: 1.125em;
  font-weight: 700;
  margin-bottom: 24px;
}

p {
  font-size: 18px;
  line-height: 30px;
  color: #011e30;
  opacity: 0.65;
}

a {
  color: #267df4;
}

a:focus {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
  position: relative;
}


/*****************************************************
*** Navbar  ***
*****************************************************/

.navbar {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-section {
  display: flex;
  align-items: center;
}

.navbar .navbar-item {
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
}

.navbar-item + .navbar-item {
  margin-left: 5px;
}

.navbar .navbar-section .navbar-item img.logo {
  height: 28px;
  width: auto;
  display: inline-block;
}

.navbar .navbar-item a {
  text-decoration: none;
  font-weight: 600;
  color: #011e30;
}


/*****************************************************
*** Hero ***
*****************************************************/

.hero {
  padding: 0;
  height: 100vh;
  min-height: 100vh;
  background: url('/images/pattern-dark.png') repeat #fefefe;
  position: relative;
  -webkit-animation: backgroundScroll 30s linear infinite;
  animation: animatedBackground 30s linear infinite;
}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

.hero .container {
  height: 100%;
}

.hero p {
  font-size: 20px;
  margin: 0 0 3rem
}

.hero-content {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}


/*****************************************************
*** Houston Form ***
*****************************************************/

.hero-content .houston-container {
  max-width: 580px;
}

.hero-content .houston-container .houston-form {
  box-shadow: none !important;
}

.houston-form input[type="email"] {
  height: 60px !important;
  background-color: #f9f9f9;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border: 2px solid #001e30 !important;
}

@media (max-width: 768px) {
  .houston-form input[type="email"] {
    padding: 0 !important;
    width: 99.2% !important;

  }
}
